.stock {
    line-height: -20px;
}

.GreenText {
 color: Green;
}

.RedText {
  color: Red;
}

.up_green {
  background: url(../img/green-arrow.gif) no-repeat left center;
  padding-left: 10px;
  margin-right: 5px;
}

.down_red {
  background: url(../img/red-arrow.gif) no-repeat left center;
  padding-left: 10px;
  margin-right: 5px;
}
