@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
@import "min-screen.css";

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

header {
  background: #011c31;
  height: 300px;
}

#starHead {
  float: right;
  overflow: hidden;
  height: 240px;
  margin: 2em;
  margin-right: 15%;
}

h1, h4, button {
  font-size: 28px;
  letter-spacing: 24px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
}

h4 {
  padding-top: 60px;
}

h2, p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #011c31;
}

h3 {
  color: #011c31;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.5em;
}

span {
    color: goldenrod;
}

.footer h3 {
  color: white;
  font-weight: 400;
}

.footer a {
  color: goldenrod;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.intro {
  margin: 1em;
}

.airsign-p {
  margin: 2em;
}

.buttonCon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#find-sign {
  border: none;
  padding: 1em;
  background: #fff;
  color: goldenrod;
}

.secondHalf {
  border-top: 20px solid #011c31;
  margin: 40px 0 0 0;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallerysign {
  margin: 40px;
  width: 200px;
}

.gallerysign img {
  margin-left: -10px;
}

.gallerysign h1 {
  margin-left: 20px;
}

.fullAnalysis {
    margin: 20px 40px 80px 40px;
}

.arrow {
  height: 40px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fullAnalysis a {
  font-size: 28px;
  letter-spacing: 24px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
  color: goldenrod;
}

.footer {
  padding: 40px;
  background: #011c31;
}

.impressum {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
